[2019-09-19 21:51] gschier opened #1 "Run-in-insomnia button"
First, I just want to say that this project is awesome! It's so cool to see things like this start to come out of the community 🥳

Was taking a look at the demo you have up and thought it might be cool to include a "Run in Insomnia" button. Feel free to ignore this suggestion if you don't think it's a good fit.

https://support.insomnia.rest/article/68-run-button

[2019-09-20 14:51] jozsefsallai commented on #1
Very good suggestion! I didn't know this was a thing :) I'll add it in soon!

[2019-09-20 15:02] #1 closed

[2019-09-22 18:04] jozsefsallai commented on #1
A little late with this but the button has been added and it's available in v0.2.0 ~~and it actually works, unlike Postman's~~ 🎉 Thanks for the suggestion @gschier, so happy that you like the project! 🤗

[2019-09-27 03:39] gschier commented on #1
Awesome! It looks great 👍 💯

[2019-09-27 03:46] gschier commented on #1
Just linked this project on the README too! https://github.com/getinsomnia/insomnia/commit/ede63b9a3f43890ef762feb30911119ffa535137

[2019-09-27 13:50] jozsefsallai commented on #1
Thank you so much!!! 💜

[2019-09-30 11:43] Shikachuu opened #2 "CORS error, when running from file."
Hey,
The demo seems nice, but when I'm trying to run by clicking index.html I get Cross Origin Request Block, cause `file:///insomnia.json` isn't on the same origin as the `.js` file.

To be honest, cause I want it to run in production, I put it to our Apache server and there I got
`SyntaxError: "JSON.parse: unexpected character at line 1 column 1 of the JSON data"`.
Tried to use the Release downl

[2019-09-30 14:48] jozsefsallai commented on #2
Hi!

This behavior is kind of expected, since fetch can't really access stuff on the file system! The proper way to test your documentation page is to run `npx serve` in the site's directory. This will hook up a web server so you'll be able to access the page by visiting http://localhost:5000 (I should probably document this better in the readme)

`SyntaxError: "JSON.parse: unexpected character at

[2019-09-30 19:06] Shikachuu commented on #2
It is next to the index.html file of course, and the error has no return value to the json but the script that throw it.

This was the solution... `./` as aways solve nearly everything :+1:  , may I suggest it as an improvement to use relative path in the folder to the insomnia.json? :)
Or if I have time I can make it as a pull-request. :D

[2019-09-30 19:06] #2 closed

[2019-09-30 19:23] jozsefsallai commented on #2
Yeah, I was gonna suggest `./` but I didn't test it beforehand, so I didn't want to suggest something that doesn't actually work 😅

Anyway, does it work in production too now? If not, you should check if you can open the JSON file manually in the browser, since the error says it has found invalid JSON (i.e. a 404 page??).

Contribution is more than welcome and most appreciated! :) I love seeing pe

[2019-09-30 19:28] Shikachuu commented on #2
Just got migrated from dev to staging so most probably it will run in production. :)
For me `.` doesn't work but `./` does, but it triggers an another error, the Insomnia button, tried to download the config from `https://dev.shikachu.site/./`, so I might do a PL soon :'D

[2019-09-30 19:49] jozsefsallai commented on #2
Yeah, I had a feeling that this would happen. Hence why I **strongly** advise **against** using `./` as the data root in production. In theory (and practice), as long as both `index.html` and `insomnia.json` are in the same folder, it should work without the need of an extra `data-root="./"`.

`data-root` is meant for when you want to deploy your documentation somewhere other than the root of the

[2019-10-21 02:20] ZarifS opened #4 "View Response Data in Documentation?"
Hi, first of all this is a beautiful application so thank you for making it!

I just wanted to know if there was a way to view the response data in the documentation, for example what an example response would be.

What would be the best method to include that in the API doc be?

Thank you!

[2019-10-21 08:08] jozsefsallai commented on #4
Hey! Thank you for the kind words! :)

At the moment, Insomnia export files don't contain the server response, so there isn't really a way to do this ~~(well, apart from running the requests on runtime but that would make the page slow and it will probably not work every time)~~! Maybe if @gschier can make it so that the response will also be exported, I could make it work with the documenter. 👀

[2019-12-11 22:02] gschier commented on #4
Would definitely be possible to implement in Insomnia but I'm not sure that's ideal. It seems like @ZarifS wants to be able to specify the response data manually?

[2019-12-11 23:13] ZarifS commented on #4
Yes exactly! For example showcasing the JSON response that would be expected from doing a call with certain parameters.

Say "/get/users" -> shows a response on the documenter showcasing the response that would be expected like a json body of what the server would send back.

This way anyone looking at the documentation will also known what the response would look like, hence making developing wit

[2019-12-12 04:52] jozsefsallai commented on #4
@gschier Fair enough! I can see why this wouldn't be ideal, yeah.

@ZarifS I will research into ways to making this workable. Until I can come up with a better solution, a good workaround would be to include the example response in the description of the request.

[2019-12-12 16:39] gschier commented on #4
I wonder if we could use HTML comments in the request description to designate that it's a response. Then documented could look for those comments and deal with them accordingly

[2019-12-12 18:49] jozsefsallai commented on #4
Yeah, I was thinking of a similar implementation. 👍

[2019-12-16 19:45] jozsefsallai commented on #4
Experimental support for example responses has been added. It features syntax highlighting too (though to be honest, I've only tested that with JSON 😅). It's now available in v0.3.0! Here's what it looks like:

![image](https://user-images.githubusercontent.com/20266711/70937374-d1578a80-204c-11ea-98bd-2b172a567c75.png)

All you have to do is to enclose the example response between `` and `` tags.

[2019-12-16 21:34] jozsefsallai opened #6 "Rewrite it in Vue"
I plan on rewriting the project in Vue, since I find it a lot more mature and usable than Svelte. Sure, Svelte is nice and all, but removing abstractions like this is what actually makes it less fun and more awkward to use as a framework. It would also be nice to see which one would actually do better in terms of performance.

Of course, the old Svelte version will be available in a separate branc

[2019-12-17 18:41] lramosduarte commented on #4
Thanks @jozsefsallai , i ll test this later.

It looks like very interesting

[2019-12-30 15:33] Saceone opened #7 "Query and header documentation"
Insomnia allows to include description for query parameters and headers. I think it would be great if those were documented too.

![image](https://user-images.githubusercontent.com/13485240/71588390-91e76e80-2b21-11ea-8d53-e9bf4b8db44b.png)

[2019-12-30 17:25] jozsefsallai commented on #7
I can't believe I overlooked that 🤦‍♂ I'll make sure to include this in the next release! Thank you for the heads up <3

[2019-12-30 20:09] Saceone commented on #7
Nice, I look forward to it
Another thing I noticed is that the json that insomnia exports also includes an attribute "description" for each folder, with an empty string as its value. However, if you manually modify this with your description it is shown in the generated documentation. I have asked, just in case you are interested in this thing about folders description.

https://github.com/Kong/in

[2020-01-04 16:03] jozsefsallai commented on #7
This has been implemented in [v0.3.1](https://www.npmjs.com/package/insomnia-documenter/v/0.3.1)!

![image](https://user-images.githubusercontent.com/20266711/71768125-1a984d00-2f1c-11ea-8739-c8d732aeeb7e.png)

![image](https://user-images.githubusercontent.com/20266711/71768129-21bf5b00-2f1c-11ea-9eca-75e3ca4951b8.png)

Folder descriptions were always supported!

![image](https://user-images.gith

[2020-01-04 16:03] #7 closed

[2020-01-04 16:05] jozsefsallai commented on #4
Closing for inactivity/tidying up!

[2020-01-04 16:05] #4 closed

[2020-01-20 06:11] dingyaguang117 opened #8 "[Bug] Enviroments render error"
Hi,  Enviroment {{host}} in url and {{AuthInternal}} in headers didn't rendered correctly.

This is the data I exported.
[code]

[2020-01-21 02:38] dingyaguang117 commented on #6
Hi, how is going? Very expect the Vue version.

[2020-01-24 13:08] jozsefsallai commented on #6
@dingyaguang117 still working on it! There is a `vue` branch which is not ready yet, but I'm expecting to finish it next month maybe.

[2020-03-05 21:12] aravindps commented on #8
#11 I have pushed a change.

[2020-03-05 21:16] aravindps commented on #8
@jozsefsallai Consider this change as a part of vue porting.

[2020-03-06 18:57] #8 closed

[2020-03-11 09:49] aravindps commented on #6
@jozsefsallai How far is this changes?
I have few improvements needed.
Is there anyway I can help you to get things speed up?

[2020-03-14 09:40] jozsefsallai commented on #6
@aravindps the Vue rewrite is currently on hold as I'm busy with other things. But I still want to do it, mainly as an experiment, to see which one would be better for the long term. So far, Svelte seems to perform slightly better on large documentations. What are the improvements you've mentioned?

[2020-03-30 01:19] jorgebrunal opened #14 "Response data using "function to perform" options"
Hello, excellent tool, I have a question.
it is possible to create the response example, using the tag options "**function to perform**"

example:

![action to perform](https://i.imgur.com/gN3WYs8.png)

and with the following options
![option tag](https://i.imgur.com/a4O4sKE.png)

but when generating the documentation, it appears as follows
![response doc page](https://i.imgur.com/bG5FHON.png)

Th

[2020-04-06 07:34] jozsefsallai commented on #14
I'll try to experiment with this, but I feel like this is something that you can't really accomplish because of how the Insomnia export file works. Will let you know!

[2020-04-07 21:41] diniremix commented on #14
okay thank you very much!. I will be pending. 😄 👍

[2020-04-15 14:43] jozsefsallai commented on #14
Since functions to perform are executed inside of Insomnia, it is not possible to use them to export example responses. Insomnia doesn't export the responses anywhere so there's no way to refer to them. Closing for now.

[2020-04-15 14:43] #14 closed

[2020-04-24 06:00] kabaluyot opened #16 "specify RESPONSE codes"
To document example response, we rely with the tags:

<! --RESPONSE -->
<! -- ENDRESPONSE -->

However, we may add specific responses, like 200 response, 401 response, 404 response.

Is it possible to add custom tags like:

[2020-04-24 06:03] kabaluyot opened #17 "horizontal scrolling in RESPONSE tag"
in  tags, the html scrolling is distorted because it does not support auto scrolling for longer text

![image](https://user-images.githubusercontent.com/38805756/80180025-60e0fb80-8634-11ea-9c24-151e5e344ac8.png)

[2020-05-16 00:56] tiagopaes commented on #16
I think it is a great ideia!

[2020-05-30 19:44] #17 closed

[2020-05-30 19:56] jozsefsallai commented on #16
I'm thinking of ways to implement this. Perhaps something like this could work:

[code]
a regular expression could match either of these and capture both the example response and the status code

[2020-06-10 16:54] jozsefsallai opened #19 "Replace `request` with something else for the Node.js example"
`request` is deprecated, see request/request#3142
will probably include an `axios` example besides `whatwg-fetch`

[2020-06-30 16:55] #19 closed

[2020-06-30 18:34] #16 closed

[2020-06-30 18:47] jozsefsallai commented on #16
Good news, everyone! I've added support for this :) You can have as many responses as you want now and you can also specify the status code for each and every one of them!

The old `` and `` method still works, it will just not display a status code at all.

The color of the header and the border will indicate the type of request:
- **1xx (info)** - blue
- **2xx (success)** - green
- **3xx (redire

[2020-06-30 23:52] shamscorner commented on #16
Great! I loved it and really appreciate that. But I have one recommendation here. For API, most of the requests are,

- GET - 200 (success)
- POST - 201 (created)
- PATCH - 200 (success)
- DELETE - 204 (no content)

- NOT FOUND - 404
- UNAUTHORIZED - 401
- FORBIDDEN - 403
- METHOD NOT ALLOWED - 405
- NOT ACCEPTABLE - 406
- BAD REQUEST - 400

- INTERNAL SERVER ERROR - 500
- BAD GATEWAY - 502

Did y

[2020-07-02 12:18] devhammed opened #20 "Add support for nested environment variables"
First of all, good job on this tool but I am currently using a nested environment variables structure for an API I am developing but the merging always conflicts with the base settings for endpoint...You can check it out here: https://fanfaro-accounting-api-docs.vercel.app

Base Settings:

[code]

Folder Settings (e.g auth):

[code]

Insomnia Documenter Output:

http://fanfaro.test/api

Expected O

[2020-07-02 12:35] devhammed opened #21 "Convert to Insomnia Plugin"
Good job so on this tool but since Insomnia now supports plugin, I feel the CLI can be converted to a plugin and now this opens the door to many possibilities e.g fixing #4 , #14 would not be an issue.

[2020-07-13 16:46] Prathik-Jain opened #22 "SyntaxError: JSON.parse: expected double-quoted property name at line 6 column 2 of the JSON data"
Exported JSON
[code]

Complete error:
[code]

[2020-07-15 13:43] LeCodeCo opened #23 "Cannot read property 'getAttribute' of null"
With the latest version, I currently get this error in my browser console.

[code]

Could this be resolved?

Thanks again!

[2020-07-15 14:48] SigfridStjarnholm commented on #23
Same issue here. Seems however that its not a global problem with the new version. Yesterday, it worked perfectly fine for me. Today, i added some more example responses than I had yesterday. A temporary workaround to this would be to use

`npx insomnia-documenter@0.3.4 `

This version seems to work for a .json file that did not work for 0.4.0. It wont have the patches & features that 0.4.0 has, b

[2020-07-15 15:55] LeCodeCo commented on #23
Yeah, I downgraded back to 0.3.4, but by manually downloading the files from the releases tab. It's a strange issue but once it's sorted, I can't wait for 0.4.0 due to showing the response code.

[2020-07-28 14:21] Sergeant61 commented on #22
+1

![image](https://user-images.githubusercontent.com/25281038/88678106-c7275f80-d0f6-11ea-93ad-ba8729509086.png)

[2020-07-28 23:28] KZTN opened #25 "How to deploy to github pages?"
Hello. I have used this resource to deploy my insomnia workspaces many times in ZEIT easily using now command, as used in video tutorial. At this time, I'm trying to deploy the docs in gh-pages, but almost as expected, gh-pages services can't read cuz they don't have a server(I think...). How to deploy on gh-pages like in README.md example in this repo? This reply would be a good information for f

[2020-07-31 22:43] jozsefsallai commented on #20
Hello!
Really sorry for the delay! I'll try to come up with a good strategy for this in the coming days.

[2020-07-31 22:45] jozsefsallai commented on #21
Hey! Thanks for the suggestion. I did actually want to attempt to convert the tool to an Insomnia plugin as soon as I saw that Insomnia supports plugins. I just never really got around to learn how plugins work, but this is definitely something that I want to do in the future!

[2020-07-31 22:45] jozsefsallai commented on #25
Hello! You need to specify the custom root path as described here: https://github.com/jozsefsallai/insomnia-documenter#custom-root-paths

I think I also mentioned this in the video

[2020-07-31 23:07] jozsefsallai commented on #23
Ouch that's a weird error. Can any of you try to create an insomnia export file that breaks it so that I can reproduce the issue and find a solution for it?

[2020-07-31 23:11] jozsefsallai commented on #22
Really sorry for the delay. I'll look into this issue in the coming days.

@Sergeant61 it would be nice if I could see what the JSON file looks like so that I can reproduce the issue locally. You can create a gist of it or just upload it to https://fastbin.xyz

[2020-08-05 05:47] LeCodeCo commented on #23
https://dashflo.net/docs/api/pterodactyl/v1newnew/insomnia.json

[2020-08-06 13:05] Sergeant61 commented on #22
I found the problem. It says comment line in jons in bodies, but comment line is not supported in real json. In our insomnia.json (v4) file, we had bodies with comment lines. The problem disappeared when I arranged them. Like this:

`
{
  "cart": {
    "variant_id": 10,
    "quantity": 1,
    "extra_ids": [4] // optional
  }
}
`

[2020-08-07 05:00] Prathik-Jain commented on #22
does this not break the JSON itself?

[2020-08-09 09:38] jozsefsallai commented on #22
@Prathik-Jain Your insomnia export doesn't seem to have a workspace block (a block whose `_type` is `workspace`). Even Insomnia fails to import it properly (at least on my end). I'm not sure why this happened tbh.

@Sergeant61 JSON with comments is not currently supported, but I'll think about ways to support it.

[2020-08-09 09:49] #23 closed

[2020-08-09 09:52] jozsefsallai commented on #23
When I checked your Insomnia JSON, I saw a different error than the one mentioned in the issue. It was related to the syntax highlighter attempting to highlight empty (or more like `null`) example responses. This issue *should* be fixed in the next release. But just to make sure, what browser are you using? This is the error I see in Google Chrome:

![image](https://user-images.githubusercontent.c

[2020-08-09 10:07] Prathik-Jain commented on #22
Oops! Let me see. I remember insomnia getting updated after the creation of this issue. Ill get back.

Thanks @jozsefsallai

[2020-08-09 10:16] Sergeant61 commented on #22
Insomnia designer is also supported in the body part. I'm not sure if there should be such a feature. But the insomnia documenter doesn't work right because of this. Also, when using [this ](https://github.com/jozsefsallai/insomnia-documenter/issues/16#issuecomment-651976939)feature, if it is left blank for replace, I get a null error. @jozsefsallai

[2020-08-09 10:20] Sergeant61 commented on #22
![image](https://user-images.githubusercontent.com/25281038/89729902-ab9b4d80-da42-11ea-8900-8f15311994f8.png)
![image](https://user-images.githubusercontent.com/25281038/89729929-d71e3800-da42-11ea-99a6-8c3c7171eedc.png)
That's why I do it like this:
![image](https://user-images.githubusercontent.com/25281038/89729975-249aa500-da43-11ea-9e01-84f6b98f2dfe.png)

[2020-08-09 10:25] jozsefsallai commented on #22
@Prathik-Jain I'm using Insomnia Core version 2020.3.3 (latest).

@Sergeant61 This is fixed in the latest release. See: https://github.com/jozsefsallai/insomnia-documenter/issues/23#issuecomment-671031571

[2020-08-10 00:25] LeCodeCo commented on #23
Hello,

I'm using Google Chrome. I'm not exactly sure what I changed to get that error, however, I tried doing a lot of things to fix the issue and I guess I must have accidentally ended up on the initial error posted here in the process.

Once the new version is out if everything works then I guess problem solved! 👍

Thanks

[2020-08-10 11:39] jozsefsallai commented on #23
The fixed version has been released yesterday: https://github.com/jozsefsallai/insomnia-documenter/releases/latest

[2020-08-26 17:13] pepik1999 opened #28 "unable to read insomnia.json"
I have an insomnia.json file, its about 3198 lines long.  Is there a limit to the size of the json file?  I tested with 2 other json exports from the same Insomnia and they had no issues displaying.

thanks

[2020-08-26 18:05] jozsefsallai commented on #28
Hello! Do you see any error in the browser's console?

[2020-08-26 19:17] pepik1999 commented on #28
I found this, but makes no sense:

SyntaxError: JSON.parse: expected ',' or '}' after property value in object at line 6 column 23 of the JSON data

I parse the insomnia.json file using python -m json.tool and it did not report any errors, and this happens when I pull a fresh export from insomnia.

Any suggestions?

[2020-08-26 21:22] pepik1999 commented on #28
my insomnia file is 137kb in size, not sure if that matters or not

[2020-08-27 13:16] jozsefsallai commented on #28
Does your file contain comments by any chance?

[2020-08-27 16:23] pepik1999 commented on #28
So thinking about your suggestion to look for Comments, I didn't find any, I did export multiple times until I narrowed it down to a single folder and in the ones that I excluded from export was one that was causing my issues.

I found the issue, it was on a duplicate api post call I had created, it had double quotes in the JSON body.  IE:

[code]

[2020-08-27 16:23] #28 closed

[2020-08-27 17:22] jozsefsallai commented on #28
That's kinda weird tbh because Insomnia *should* escape quotes when exporting... or not even Insomnia but the JSON serializer itself. It's also weird that `json.tool` thinks it's ok.

[2020-08-27 18:54] pepik1999 commented on #28
the export showed

[code]

As soon as I changed it by removing the second escaped quote, your software rendered the page properly.

[code]

[2020-08-28 10:52] jozsefsallai commented on #28
Ah that's fair enough then because Insomnia Documenter is trying to format those individually (indentation, syntax highlighting, etc.). So when it tried to parse that block, it failed because it's not valid JSON. I should probably make the error message be a little less vague.

[2020-09-04 22:43] gusilveiramp opened #29 "Add description for a FOLDER. Is that possible?"
Through the "Docs" tab we can document the methods, but it would be really cool if we could put a description in a folder that contains several methods.

For example, if my workspace is divided in 3 folders:
- Admin
- Client
- Auth

When I click on Admin option, from left menu, is there any way to add a description like image shows?
<img width="1425" alt="Captura de Tela 2020-09-04 às 19 37 43" s

[2020-09-05 20:11] diegoulloao opened #30 "Change <!-- RESPONSE --> to // RESPONSE inside a code block comment"
There is a problem when documenting an example response.

Actually works like:

``
{
   ... data
}
``

But the problem with that is looks ugly and not readable in Insomina Docs tab, without format.

I suggest change it to:

[code]

all inside a codeblock.

In that form the markdown format preserves in the Insomnia doc tab and will still appear at the right panel as response example in the generate

[2020-09-15 10:12] jozsefsallai commented on #30
I'll take this into consideration because I do agree that the current way to do it looks quite ugly! Thank you :)

[2020-09-15 10:22] jozsefsallai commented on #29
Theoretically, the Insomnia export file _does_ contain a `description` field for folders too but there's no way (that I know of) to make changes to it. The documenter [does have support for folder descriptions](https://github.com/jozsefsallai/insomnia-documenter/blob/master/src/components/content/Group.svelte#L31) but until there's a way to edit the descriptions from within Insomnia, the only way

[2020-09-15 17:58] diegoulloao commented on #30
Thanks for the consideration. Hope to see his feature :)

[2020-09-16 01:59] develohpanda commented on #29
Looks like the editing descriptions was never added in even though the model was updated (as part of https://github.com/Kong/insomnia/pull/252 and subsequent PRs).

The context menus for folders and requests are very different, and the method of renaming is also different. Folder -> context menu -> rename -> modal, Request -> double click.

Descriptions for a Request are currently in the request s

[2020-09-17 03:28] develohpanda commented on #29
I just noticed that a workspace has a workspace settings view, containing workspace name and description. Request also has a request settings view, with name and description. We can probably do something similar for the folder rename view, updating it to "folder settings" with a name and description.

[2020-09-22 11:09] vinimello commented on #16
Hey guys, first of all thanks for the awesome documenter! I have a question, where do i put this tags with the response to show the block in my documentation? Is it in the json archive? In the docs in insomnia before exporting? I couldnt find where i put the tags, every place i tried it didnt work. Thanks for the help!

~~response~~

[2020-09-30 08:53] florian-belliard opened #31 "Handle Parameters section with POST and PATCH methods"
It would be great to be able to display the parameters UI section for POST and PATCH query as you are currently doing with GET query. The idea would be to specify the mandatory and optional parameters with a short description.

<img width="567" alt="Capture d’écran 2020-09-30 à 10 45 45" src="https://user-images.githubusercontent.com/5663064/94663604-23cb1480-030a-11eb-9976-607bcf5787a5.png">

I

[2020-10-04 16:34] devhammed commented on #21
Hello there!

I just created a simple plugin interface to the tool (I basically copied most of the code from the `bin/generate.js` file 🤭🤭🤭)

Repository: https://github.com/devhammed/insomnia-plugin-documenter

NPM: https://www.npmjs.com/package/insomnia-plugin-documenter

[2020-10-05 21:09] #25 closed

[2020-10-05 21:09] jozsefsallai commented on #25
Closing for inactivity.

[2020-10-05 21:10] #22 closed

[2020-10-05 21:13] jozsefsallai commented on #21
This is so **awesome**! Thank you so much for taking your time to make this <3

I've had less time to work on some of my open-source projects (including Insomnia Documenter), mainly because of college and focusing on other projects. I did not forget about the nested environment variables feature request but at the moment, I'm not sure how I could implement that (I'd probably need to rewrite some p

[2020-10-06 04:03] devhammed commented on #21
🎉🎉🎉

Great and about the template tags rendering, I have already created an issue (https://github.com/Kong/insomnia/issues/2688) on the Insomnia repo to add an option to expand template tags when exporting as there is currently no support for that.

[2020-10-06 04:18] #21 closed

[2020-10-06 07:28] develohpanda commented on #21
I'll do the same with the Insomnia readme that mentions this project. Super cool!

[2020-10-08 19:15] bediu commented on #4
Is there a way to add multiple response types from one request?

[2020-10-08 19:15] bediu commented on #4
@jozsefsallai

[2020-10-08 22:19] jozsefsallai commented on #4
Yes, you can add as many as you want and you can also specify the status code (see: https://github.com/jozsefsallai/insomnia-documenter/issues/16#issuecomment-651976939).

However, the syntax is going to change in a future release (see #30).

[2020-11-04 14:53] janoschbatschi opened #33 "TypeError: Cannot read property 'replace' of null"
Using the latest version I can't get it running. Neither with "npx serve" nor using an Apache Server. Seems to be the same issue reported here: https://github.com/jozsefsallai/insomnia-documenter/issues/23#issuecomment-671031571

![image](https://user-images.githubusercontent.com/2529951/98126084-7a9dae00-1eb5-11eb-862d-55d1d133a578.png)

[2020-11-05 14:20] janoschbatschi commented on #33
Nevermind seems to be an issue in the generated file.

[2020-11-05 14:20] #33 closed

[2020-11-09 10:05] ekediala commented on #33
Hello @janoschbatschi, please what was the issue with the generated file? I am having the same error now.

[2020-11-09 10:14] janoschbatschi commented on #33
Can't say it for sure, but it seems it was due to duplicate entries

[2020-11-09 10:15] ekediala commented on #33
Any pointers to how you resolved it [if you have] please?

[2020-11-13 17:53] zhanbolat18 opened #35 "Cannot use Insomnia Tags"
Hello.

When i use Insomnia Tags for fill response body or query params (with JsonPath from another request),  I get a tag flag as string
like a
[code]
{% response 'raw', 'req_6f556f2bae314b9591e79fdcbce9754c', '', 'always', 60 %}
[code]
![Tag Screen](https://user-images.githubusercontent.com/16055779/99103918-7cc8e080-260a-11eb-95cf-f202d99f1429.png)
![Tag Screen](https://user-images.githubuserco

[2020-11-14 15:41] Psychokiller1888 opened #36 "Error displaying app"
Error in console:

[code]

Website deployed with github-actions on https://project-alice-assistant.github.io/api/
App tag is replaced with GH actions

I had the same on my computer when localhost

Insomnia export is a v4 json export

[2020-11-15 19:17] jozsefsallai commented on #35
Functions-to-perform are not supported (and will likely not be, since they're meant to be used from within Insomnia). Insomnia doesn't evaluate functions when exporting to JSON, and making the documenter evaluate them on runtime is not something I want to do, for design reasons.

Related issues #14 #21

[2020-11-16 19:20] jenicarvalho commented on #36
Exactly the same here.

[2020-11-17 15:09] jozsefsallai commented on #36
Hello, I will try to reproduce this issue and get back to you later today!

[2020-11-17 15:10] Psychokiller1888 commented on #36
Sure, no problem! Feel free to ask anything!

If you check on the page I shared, you'll see that the json file is correctly linked, so something else, haven't had the time to dig deeper

[2020-11-22 14:41] Psychokiller1888 commented on #36
Ok, the structure of the documenter demo and my export is different. First of, the demo uses Insomnia 2020.2.2 where I have 2020.4.2, so that probably explains the structure being different

[2020-11-22 15:04] Psychokiller1888 commented on #36
After removing, one by one, my requests, here are the ones that were crashing the documenter

[code]

After trying to find why, I found out that the `headers` had an empty value. After adding something to it, the documenter renders ok again

[2020-11-22 15:13] Psychokiller1888 commented on #36
If you have body elements that are empty, because you forgot to delete them in Insomnia like

[code]
It also crashes documenter

[2020-11-22 15:20] Psychokiller1888 commented on #36
And most prolly many others, have to restart one by one..... It's just data control missing on documenter, checking if a value exists before accessing it

[2020-11-22 16:40] Psychokiller1888 commented on #36
Next one that was making problems:

[code]
And this time the body is what crashes documenter. More precisely the text, even more precisely "xpos" and "ypos" not declared in the environement

[2020-11-22 16:50] Psychokiller1888 commented on #36
Then comes
[code]

This time again the body, again the text, buit no env vars were used.... This time it couldn't handle the single quotes in the json body nor the True without quotes

[2020-11-22 16:59] Psychokiller1888 opened #37 "Python request display"
The payload is really weird to say the least:

[code]

This is on rendered pages when selecting python. Funny part is that it was also on Postman bug tracker

[2020-11-23 09:51] jozsefsallai commented on #36
Yeah this is a tad bit more complicated than I anticipated it to be. These kind of issues are the reason I wish I had written the documenter in TypeScript :') I'd rewrite it in TypeScript if I had more time on my hands and didn't have other plans for v2 (spoiler alert: I want to make it generate static HTML instead of doing everything on runtime, so errors like this can be spotted during build tim

[2020-11-23 10:43] Psychokiller1888 commented on #36
Oh, V2 coming? As a second spoiler, do you have an ETA? Reason being, as you most prolly saw my PR, I'm debugging it all.... So double work for nothing is not my friend, also quite limited with time :)

[2020-11-23 11:43] jozsefsallai commented on #36
I don't have an ETA at the moment (likely not soon/sometime next year), but even when v2 will get released, v1 will still be maintained in parallel, so none of the work will be in vain :) I saw your PR after I commented, thank you so much, it is of great help and much appreciated! You don't have to do all the work, I don't want you to be overwhelmed either, so I can take over the tasks that you th

[2020-11-23 12:13] Psychokiller1888 commented on #36
No problemo dude, that's how open source works, I'm happy when people help me on my projects also :)

[2020-11-23 16:38] Psychokiller1888 commented on #37
Fixed in PR #38

[2020-11-23 16:38] #37 closed

[2020-11-23 16:39] Psychokiller1888 commented on #36
@jozsefsallai All my issues and a few potential others were treated for now in my PR

[2020-11-23 16:39] #36 closed

[2020-11-30 14:24] devhammed commented on #35
I have opened an issue on the repo since that time. hopefully, they would attend to it ASAP.

https://github.com/Kong/insomnia/issues/2688

[2020-12-05 14:24] hndrbs opened #41 "cannot access insomnia,json"
Hello, i am having a problem when running the documentation at localhost the page telling me that "It looks like it's not possible to retrieve the contents of the API documentation at the moment. ". The console browser give me this   :
![image](https://user-images.githubusercontent.com/68056661/101245502-ecc91300-373f-11eb-8bf8-13d975335990.png)

I also have tried to generate documentation (with t

[2020-12-06 10:49] jozsefsallai commented on #41
I've just released a new version. Can you try with that one?

[2020-12-06 14:25] hndrbs commented on #41
hey, thanks for the response. The problem had been solved by re-creating insomnia workspace. It seems the problem is on my exported json

[2020-12-08 20:20] jozsefsallai opened #42 "For support use Discussions, for bug reports use Issues!"
I've enabled Discussions in this repo now. To keep things clean and tidy, I'd invite you to ask your questions here: https://github.com/jozsefsallai/insomnia-documenter/discussions

However, if you find a bug, you should still use the issues section.

[2020-12-08 20:20] #42 closed

[2020-12-08 20:21] jozsefsallai commented on #42
@devhammed You can share the insomnia plugin in the "Show and Tell" section of Discussions, I'd pin it :smile:

[2020-12-08 20:28] devhammed commented on #42
Done ✅✅✅

[2020-12-08 20:29] jozsefsallai commented on #42
thank you :heart: you can also post updates there whenever you release a new version, if you want!

[2020-12-09 09:52] devhammed commented on #42
Alright.

[2020-12-10 14:48] #41 closed

[2021-01-05 13:07] LeCodeCo opened #45 "Option to not include cookies in documentation"
My Insomnia export includes a session cookie which is not important and is confusing my users. Would it be possible for an option to be added where all cookies are ignored when generating the documentation?

[2021-01-19 05:56] WinterCore commented on #16
Even though this is a bit late.
For whoever's wondering where to put the example responses.
You put them in the `Docs` tab of the request.
I honestly think this should be included in the README, because it was a little confusing.

[2021-01-19 08:25] kabaluyot commented on #16
Hello Smudge. Can you provide a sample screenshot for it?

[2021-01-19 11:04] devhammed opened #46 "JSON.parse SyntaxError since 0.4.4"
Hello there!

The generator since version 0.4.4 is throwing error `Uncaught SyntaxError: Unexpected token in JSON at position 2764` with the insomnia.json file below (though it import correctly in Insomnia app and also works in version 0.4.3):

[code]

Insomnia Plugin issue: https://github.com/devhammed/insomnia-plugin-documenter/issues/3

[2021-02-09 13:39] NicolasCaous commented on #46
This makes the latest version of insomnia-documenter unusable

[2021-02-09 14:05] devhammed commented on #46
Hello @NicolasCaous , I just reverted the documenter files to last stable version pending the wait for the fix...kindly upgrade the documenter plugin from Insomnia Plugins UI.

[2021-02-09 15:00] NicolasCaous commented on #46
@devhammed thank you for the temporary fix! :)

[2021-02-10 01:30] mperezcorrales commented on #30
Hi, I was reading this issue and was wondering how you add the response to the documentation? I don't know if when exporting the data from the Insomnia client you could add the response preview. Thanks for the help.

[2021-02-15 16:51] jozsefsallai commented on #46
Thank you for the bug report, I will look into this (any many others) very soon!

[2021-03-14 14:48] Bradleykingz commented on #30
@mperezcorrales Did you figure it out?

[2021-03-29 10:10] devhammed commented on #30
Hello there!

I am thinking we can leverage the language tag support of markdown code blocks for this:

![Screenshot from 2021-03-29 11-09-05](https://user-images.githubusercontent.com/22827908/112822001-494d9680-907f-11eb-86bd-b61678391e9d.png)

And I have actually implemented it:

![Screenshot from 2021-03-29 11-10-07](https://user-images.githubusercontent.com/22827908/112822088-5ff3ed80-907f-11

[2021-03-30 16:07] AxelLR992 opened #49 "Environment not working"
Hello!
I just discovered this documenter and I love it, but I have a problem with my environment's variables. Look at my generated documentation:
![image](https://user-images.githubusercontent.com/40745906/111514421-567d9380-8717-11eb-90ba-e235ec405d5a.png)

It is not taking the value of my variable. Insomnia does it with no problem. Is this a bug? I was thinking it may is because of the introduct

[2021-04-11 02:50] diegoulloao commented on #30
Much better!

[2021-04-11 20:49] jozsefsallai commented on #49
Yes, it turns out that Insomnia has tweaked their way of handling environment variables a bit, We will look into this!

[2021-05-04 10:45] acydh commented on #30
I've the same problem here. Wrapping the example response in    does not seem to work

[2021-05-04 11:38] devhammed commented on #30
Hello everyone, I have just created the pull request at https://github.com/jozsefsallai/insomnia-documenter/pull/51 ... hopefully, @jozsefsallai will be able to merge it ASAP.

[2021-05-06 11:32] devhammed commented on #49
@AxelLR992 The fix has been pushed, @jozsefsallai will merge ASAP.

[2021-05-06 14:19] raulamoretti opened #55 "Error in export Json V4"
main.js:35 SyntaxError: Unexpected token q in JSON at position 10
    at JSON.parse (<anonymous>)
    at Re.__parseJSON (content.js:14)
    at Re.parse (content.js:50)
    at qe.body (content.js:110)
    at Ye (Request.svelte:106)
    at rt (Request.svelte:105)
    at ne (index.mjs:1287)
    at new it (Request.svelte:80)
    at Array.ht (Rows.svelte:16)
    at gt (Rows.svelte:12)

[insomnia.zip](h

[2021-05-06 16:38] raulamoretti commented on #46
I download this and the @devhammed plug in , but not working for me!

[2021-05-11 06:06] #30 closed

[2021-05-11 06:10] #49 closed

[2021-05-13 04:14] joeydash opened #59 "Push commit to npm"
Pull request merged but not published to npm

[2021-05-14 09:34] jozsefsallai commented on #59
you can upgrade to v0.5.0 now, the release has been published both on npm and Github releases

[2021-05-14 09:34] #59 closed

[2021-05-18 16:30] devhammed commented on #30
Hello everyone!

If you are using the plugin, you can now upgrade to use the new example response format.

Documenting:

![Screenshot from 2021-05-18 17-25-32](https://user-images.githubusercontent.com/22827908/118689136-9daf0000-b7fe-11eb-8af5-04a81f39f9ae.png)

Insomnia Rendering:

![Screenshot from 2021-05-18 17-25-18](https://user-images.githubusercontent.com/22827908/118689206-a7386800-b7fe-1

[2021-05-21 20:43] jozsefsallai commented on #55
The problem comes from the invalid JSON in this request body (notice the lack of quote marks in the keys):

![image](https://user-images.githubusercontent.com/20266711/119196000-2db6a900-ba8e-11eb-9a39-d98503a5eb5f.png)

In any case, v0.5.1 will no longer freak out when it sees invalid JSON, but will give you an annoying warning in the developer console.

Please let me know if fixing the JSON (or

[2021-05-21 20:48] jozsefsallai commented on #46
Please try using v0.5.1 and see if the problem persists.

[2021-05-21 20:52] jozsefsallai commented on #31
Is this question still relevant? If I recall correctly, you **can** actually set query parameters for non-GET requests in Insomnia and if that's the case, the documenter should display them. If it doesn't please let me know so I can look into it!

[2021-06-13 02:17] cholazzzb opened #64 "Documentation show error "TypeError: e is null""
I have just follows this tutorial https://www.youtube.com/watch?v=pq2u3FqVVy8. I use npx to generate the documentation. It is work, but after I run npx serve. The localhost:5000 shows the error. Maybe this is a bug ? May you help to resolve this issue? Thanks
![Screenshot from 2021-06-13 09-16-15](https://user-images.githubusercontent.com/37765885/121793315-0e8fdf00-cc28-11eb-93ee-8abe1d88567d.png

[2021-06-13 10:41] jozsefsallai commented on #64
Hello! It would be very helpful if you could share your insomnia.json with us. If you don't feel comfortable sharing it here publicly, you can send me an email too (jozsef at sallai.me).

[2021-06-18 00:15] BadMask121 commented on #64
having the same issue

[2021-06-18 00:40] BadMask121 opened #66 "FormatEnv function throws an error when url for some requests are empty"
I had a request without an endpoint when served using vercel it throws an error
![Screenshot 2021-06-18 at 12 25 41 AM](https://user-images.githubusercontent.com/28906529/122488628-61bdb500-cfcd-11eb-9466-f0e807c29d84.png)

I looked at the codebase on GitHub and realized formatEnv in Request.svelte was looking up  request.url and in one of my API request i had an empty URL input

![Screenshot 2021

[2021-06-19 15:58] #66 closed

[2021-06-23 18:03] julioneljunior opened #68 "Add `overflow: auto` to description css class"
Hello!!
Congrats to the project.

I have a problem putting a table in the insomnia documentation.

![image](https://user-images.githubusercontent.com/12643309/123146450-40792080-d434-11eb-969a-cf8008e24ba4.png)

Fixed this behavior by adding `overflow: auto;` to `.descrition` class:
[code]
https://github.com/jozsefsallai/insomnia-documenter/blob/ce38efc98374e114a73dc8c7202c2773d4aa2a53/src/styles/

[2021-07-01 22:02] #68 closed

[2021-07-23 15:12] nospoon opened #70 "Example response not parsed"
Example responses are not parsed despite being wrapped between `` and `` tags.

[2021-07-23 21:47] jozsefsallai commented on #70
Hello.

You should use the following format:

[code]

[2021-07-24 17:18] abhishekshree commented on #25
Hey, I am trying to deploy my documentation through GitHub pages too, and am confused about how to do it. Can you add more elaborate steps in the documentation about it @jozsefsallai. It'll be really helpful, as in my deployment it just shows a blank page,

[2021-07-24 17:47] abhishekshree opened #71 "Github Pages Deployment steps"
Hey, I am trying to deploy my documentation through **GitHub pages**, and am confused about how to do it. I think we could add more elaborate steps in the documentation about this. It'll be really helpful, as in my deployment it just shows a blank page,

[2021-07-25 08:37] #71 closed

[2021-07-26 09:21] nospoon commented on #70
Thanks, that works.
I couldn't any mention of this in the documentation, probably worth adding.

As a side note, I noticed it's not possible to add an example response with an empty body, like `204 No Content`. It would be nice if it could also be displayed on the right with all the other response examples.

[2021-07-26 09:21] #70 closed

[2021-07-27 18:57] lepepe opened #73 "Example response not working"
The example response is not show on the right panel:

![2021-07-27_14-59](https://user-images.githubusercontent.com/12739553/127211656-203b3877-0d60-4070-b837-760d391103d6.png)

Response language tag:

[code]

[2021-07-27 21:33] jozsefsallai commented on #73
Hello.

Try `response:200` instead of `response`.

[2021-07-28 18:14] lepepe commented on #73
I clone your repo to see if I'm doing something wrong but still not getting the response on the right side panel:
![2021-07-28_14-20](https://user-images.githubusercontent.com/12739553/127374759-bb7a42e7-ce2a-42cb-a984-dfb672710ce0.png)

[2021-07-29 09:12] jozsefsallai commented on #73
Just to confirm, does it work here? https://jozsefsallai.github.io/insomnia-documenter/#req_2a5bde603a3240b485d1b4877d53e6f3

Also can you tell me your browser (name + version) and the operating system you're using?

[2021-07-30 02:50] lepepe commented on #73
Yes I can see the documenter example without any issue. I'm using Brave 1.18.75 and Arch Linux. I did installed the package instead of using npx and now I get the response example on the right panel. Could be related with npx?

[2021-07-30 07:03] jozsefsallai commented on #73
That is... very odd, but I'll look into this!

[2021-08-18 22:18] hugoaboud commented on #35
I've found a workaround for outputting aliases instead of the flag.
This is not really useful for your case, where you'd like the tag contents on the documentation. However, in case you only need a nice placeholder for the tag, you could do this:

1. Define environment variables. Make sure to place the *Template Tag* between double quotes.
![image](https://user-images.githubusercontent.com/2349393

[2021-08-19 12:24] pys1992 opened #74 "Raw content data support."
Insomnia-documenter is a greate tool.

When I deploy the web page to the public network. I realize that the "insomnia.json" file authorization is a big problem. In my  app, only allow logged users to access files.

So, is there any plan to support reading raw data?  Like:

[code]

Thanks very much.

[2021-08-19 18:54] jozsefsallai commented on #74
Hello!

Unfortunately, there is no such feature and I don't plan on implementing something like this in the current version of Insomnia Documenter.

However - spoiler alert - the main goal of the Insomnia Documenter rewrite is to have it generate documentation pages statically during build time instead of runtime. That will completely eliminate the need to deploy an insomnia.json file next to the

[2021-08-20 00:47] pys1992 commented on #74
Thank you very much for your answer, though. I'm trying implement by myself.

[2021-08-20 00:47] #74 closed

[2021-08-22 00:46] johan44co commented on #73
I have the same issue

[2021-08-22 00:54] johan44co commented on #73
I did compare your file insomnia in docs folser and apparently  is not being replace to ```response and this is could be the origin of the problem :)

[2021-09-01 14:46] steve-allam commented on #20
Hi,

Just started using the documentor - really pleased with the results so far - thanks!

However, I seem to have hit the same issue - I use environment variables in the body part of a post request, like this:

[code]

Which results in the insomnia export file containing data like this:

`"method":"POST","body":{"mimeType":"application/json","text":"{\n\t\"email\": \"{{ _.email }}\",\n\t\"passwor

[2021-09-30 05:55] amirfaramarzi commented on #73
Hi, I have exactly the same problem, what should I do?

My operating system is Arch Linux and I use Chrome browser

![image](https://user-images.githubusercontent.com/80312616/135395086-68860b25-5766-48a1-a77f-f29a0740aaa4.png)
![image](https://user-images.githubusercontent.com/80312616/135395301-253a639a-eca5-4d46-b548-9bd9a80d7a17.png)

[2021-09-30 13:51] johan44co commented on #73
@amirfaramarzi in your .json file you manually need to change  for ```response

[2021-09-30 17:25] amirfaramarzi commented on #73
hi @johan44co

Is there no need to install the plugin ??

[2021-09-30 21:01] johan44co commented on #73
amir just the insomnia documenter but for some reason the function that replaces  ``  and `` does not work in some cases, it should work but also there is no error output when it fails, so if you to make it work in your documentation, just after you generate the .json file the next step with be replaced manually for ```response and ``` respectly as you see in the example above

[2021-09-30 21:04] jozsefsallai commented on #73
`` and `` is the old format which doesn't work anymore. Please use the new format.

[code]

[2021-12-10 13:26] jsfelix commented on #30
I think it is a good idea to add it in docs.

[2021-12-12 08:22] devhammed commented on #30
Is it not already?

[2021-12-26 22:37] 3even opened #77 "Converting to Static Site"
How could I setup the generated Svelte site to support `npm run build` in order to output a pure static version of the documentation?

[2021-12-28 14:38] #77 closed

[2022-03-29 07:43] soubhikchatterjee opened #80 "Auto Expand Menu"
Currently the menu folder on the left panel remains collapsed, and one has to click on the root folder to example its children.

Is there anyway to auto expand the menu items by default?

Screenshot: https://share.getcloudapp.com/JruOqJw2

[2022-04-14 04:51] rajendrakumaryadav commented on #73
Really helpful, was looking for quite a long time... Search in number of blogs and videos. But none was having the proper information..

Thanks @jozsefsallai 🙏

[2022-05-24 04:42] devhammed commented on #80
@soubhikchatterjee The tool is working as it should actually, I see you are exporting a single folder in a collection document, what you need to do is to create a separate collection documents for each of the root folders.

[2022-05-24 04:42] #80 closed

[2022-06-01 18:03] ViteRoberto opened #84 "Display info.description"
Hi everyone!

Before anything else ¡Thank u very much 4 this beatiful app!

Now i'm adding description under the info section. But when i try to insomnia documenter i'm only getting the requests. I'm not able to see the servers, info ands schemas section. Is there any setup i should do?

Here is how it looks in my local insomnia

<img width="592" alt="Captura de Pantalla 2022-06-01 a la(s) 13 00 0

[2022-09-13 18:29] MurilloKerr commented on #4
For me, even changing to ```response:200 .... ``` is not working yet.
![image](https://user-images.githubusercontent.com/92184259/189981697-84325fc2-e10f-4819-842b-db0aa39c97ed.png)

Does someone have a real solution?